:root {
  --MAX_Z_INDEX: 2147483647;
}

@keyframes sectionReaderFadeAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#sectionReaderFloatingButton {
  position: fixed;
  right: 32px;
  bottom: 32px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 6px 10px 0 #666;
  padding: 0.5rem;
  z-index: var(--MAX_Z_INDEX);
  color: black;
  font-size: 0.75rem;
  animation: sectionReaderFadeAnimation 0.5s ease-out;
  transition: all 0.1s ease-in-out;
}

#sectionReaderFloatingButtonHelp {
  display: none;
  color: #666;
  font-size: 0.6rem;
}

#sectionReaderFloatingButtonHover {
  display: block;
  color: #666;
  font-size: 0.6rem;
  line-height: 0.75rem;
}

#sectionReaderFloatingButton:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
  cursor: pointer;
}

#sectionReaderFloatingButton:hover #sectionReaderFloatingButtonHelp {
  display: block;
}

#sectionReaderFloatingButton:hover #sectionReaderFloatingButtonHover {
  display: none;
}

.section-reader-cursor-select {
  cursor: copy;
}

.section-reader-highlight {
  background: rgba(255, 0, 0, 0.5) !important;
  outline: 4px dashed darkblue !important;
  outline-offset: -2px !important;
  z-index: var(--MAX_Z_INDEX) - 1 !important;
}

.section-reader-overflow-hidden {
  overflow: hidden !important;
}

.section-reader-z-index-max {
  z-index: var(--MAX_Z_INDEX);
}

.section-reader-focus-section {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  z-index: var(--MAX_Z_INDEX);
  margin: 0;
  padding: 1rem max(1rem, 17px) 30vh 1rem;
}
